<div class="flex h-full w-full bg-white">
    <!-- <account-header></account-header> -->
    <!-- <div class="card">
        @if (showTenantChange()) {
            <div class="card-header">
                <tenant-change></tenant-change>
            </div>
        }
        <div class="card-body login-card-body">
            <router-outlet></router-outlet>
        </div>
        <div class="card-footer">
            <account-languages></account-languages>
        </div>
    </div> -->
    <!-- <account-footer></account-footer> -->

    <div class="w-1/2 border-r border-gray-300">
        <div class="flex justify-center items-center h-full">
            <div class="w-3/4">
                <router-outlet></router-outlet>
            </div>
        </div>

    </div>
    <div class="w-1/2">

    </div>
</div>